.container {
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 4fr 1fr;
    grid-gap: 0.3em;
}

.cell {
    background-color: white;
}

.for-header {
    grid-column: 1/7;
    background-color: blanchedalmond;
}

.left-menu {
    grid-column: 1/2;
    background-color: deeppink;
}

.main-area {
    grid-column: 2/6;
    display: grid;
    grid-template-rows: 6fr 1fr;
    grid-gap: 0.1em;
}

.main-chat {
    grid-column: span;
    background-color: grey;
}

.message-input {
    grid-column: span;
    background-color: rgb(216, 130, 130);
}

.right-menu {
    grid-column: 6/7;
    background-color: darkolivegreen;
}

.for-footer {
    grid-column: 1/7;
    background-color: darkseagreen;
}

.text-input {
    margin: 1em;
}

.text-input .textarea {
    width: 200px;
    height: 20px;
}