<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/components/layout.css" />
    
</head>
<body>
    <div class="container">
        <div class="cell for-header">
            <div class="logo">
                <img src="../public/images/fruitchat-logo.png">
            </div>
            <div class="title">
                <img src="../public/images/title-image.png">
            </div>
            <div class="log-out">
                <br>
                <p id="user-logged-in"></p>
                <button id="logout-btn">LOGOUT</button>
            </div>
        </div>
        <div class="cell left-menu">
        </div>
        <div class="cell main-area">
                <div class="cell main-chat" id="main-chat">
                </div>
            <div class="cell message-input">
                <form>
                    <input class="text-input" type="text-area" id="text-input"/>
                    <button id="chatchat">SEND MESSAGE</button>
                </form>
            </div>
        </div>   
        <div class="cell right-menu">
            <h3>Online now:</h3>
        </div>
        <div class="cell for-footer">
            © Joey Hermano Enterprises
        </div>
    </div>
    <script>
        /*
        $.ajax({
            "url": "get-messages",
            
            "method": "GET"
        }).done(res => {
            console.log(res);
            res.array.forEach(element => {
                $('#main-chat').append("<p>" + element.user + ": " + element.message + "</p>");
            });
        });*/
            //console.log("script runs - layout");
            const socket = io.connect('http://localhost:3000');
            $("#chatchat").click((event) => {
                event.preventDefault();
                const userName = window.localStorage.username;
               if (socket.connected){
                socket.emit('fruit-chat',{"user_name": userName, "message": $("#text-input").val()}) 
                //var chatscreen = $('#cell main-chat');
                //console.log("<p>" + userName + ": " + $("#text-input").val() + "</p>")
                //$('#main-chat').append("<p>" + userName + ": " + $("#text-input").val() + "</p>");
                //$('#main-chat').val($('#main-chat').val() + "\r\n" + userName + ": " + $("#text-input").val());
                $("#text-input").val("");
               } else {
                   //alert("You have been disconnected");
                   window.location.replace('/');
               }
                 
    
                    });
            socket.on("fruit-chat", (fruitMessage) => {
                $('#main-chat').append("<p>" + fruitMessage.user_name + ": " + fruitMessage.message + "</p>");       
                $("#main-chat").scrollTop($("#main-chat").prop("scrollHeight"));
            });
            socket.on("userjoin", (userData) => {

                $(".right-menu").append("<div id=\"" + userData.username + "\">" + userData.username + "</div>");
                //console.log("<p id=\"" + userData.username + "\">" + userData.username + "</p>");
            });
            socket.on("userquit", userData => {
                //console.log(userData);
                //$(".right-menu").remove("#" + userData.username);
                $("#" + userData.username).remove();
                //console.log("trying to remove ", "#" + userData.username);
            });
            /*
            socket.on("userlist", (data) => {
                console.log("userlist: " + data);
                console.log(typeof data);
                const userlist = JSON.stringify(data);
                console.log(typeof userlist);
                console.log(userlist);
                const userArray = userlist.split(",");
                console.log(typeof userArray);
                console.log(userArray);
                $(".right-menu").val = "";
                userArray.forEach(element => {
                    console.log(element);
                    $(".right-menu").append("<p>" + element + "</p>");
                });
                
                
            });*/
    </script>

    <script>
        $("#user-logged-in").append("Logged in as " + window.localStorage.username);
    </script>

    <script>
        $("#logout-btn").click((event) => {
            event.preventDefault();      
            $.ajax({
                "url": "/logout",
                "method": "POST",
                "data": {
                    "username": window.localStorage.username
                },
                "success": function(data) {
                    if (data) {
                        window.location.replace("/");
                    }
                }
            }).done(response => {
                console.log("session expired");
            });
        });   
    </script>
    
</body>
</html>