.container {
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 4fr 0.5fr;
    grid-gap: 0.3em;
    background-color: goldenrod;

}

.cell {
    background-color: white;
}

.for-header {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: 1 fr 4fr 1 fr;
    background-color: white;
}

.logo {
    grid-column: 1/2;
    text-align: center;
    background-color: white;
}

.logo img {
    max-width: 100px;
    max-height: 100px;
    background-color: white;
}

.title {
    grid-column: 2/6;
    text-align: center;
    background-color: white;
}

.title img {
    max-height: 100px;
}

.log-out {
    grid-column: 6/7;
    text-align: center;
    background-color: white;
}

.left-menu {
    grid-column: 1/2;   
    background-image: url("./images/oranges-960x540.png");
    background-repeat: no-repeat;
    max-width: 100%;
}

.main-area {
    grid-column: 2/6;
    display: grid;
    grid-template-rows: 6fr 1fr;
    grid-gap: 0.1em;
}

.main-chat {
    grid-column: span;
    background-color: grey;
    overflow: scroll;
    max-height: 440px;
}

.message-input {
    grid-column: span;
    background-color: rgb(216, 130, 130);
}

.right-menu {
    grid-column: 6/7;
    background-color: darkolivegreen;
}

.for-footer {
    grid-column: 1/7;
    background-color: darkseagreen;
}

.text-input {
    margin: 1em;
}

.text-input text-area {
    width: 200px;
    height: 20px;
}